* {
    box-sizing: border-box;
}

#chatlog {
    width: 100%;
    overflow-x: auto;
    margin: 2px;
    border: 1px solid black;
    border-collapse: collapse;
}

#chatlog tr td,
#chatlog tr th {
    width: max-content;
    border-bottom: 1px solid black;
    vertical-align: top;
    text-align: left;
    padding-left: 4px;
    padding-right: 4px;
}

#chatlog tr:target {
    background-color: yellow;
}

.chatlog-message {
    font-family: monospace;
}

.chatlog-special {
    font-style: italic;
}

.error {
    color: red;
}

.footer-list {
    margin: 0;
    padding: 0;
}

.footer-list li {
    margin: 0;
    display: inline;
}

.footer-list li::after {
    content: "\a0| ";
}

.footer-list li:last-child::after {
    content: none;
}