* {
    box-sizing: border-box;
}

#chatlog {
    width: 100%;
    overflow-x: auto;
    margin: 2px;
    border: 1px solid black;
    border-collapse: collapse;
}

#chatlog tr td,
#chatlog tr th {
    width: max-content;
    border-bottom: 1px solid black;
    vertical-align: top;
    text-align: left;
    padding-left: 4px;
    padding-right: 4px;
}

#chatlog tr:target {
    background-color: yellow;
}

.chatlog-message {
    font-family: monospace;
}