<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Matterlog{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>{% block heading %}{% endblock %}</h1>
    {% block content %}{% endblock %}
    <hr />
    <footer>
        <ul class="footer-list">
            <li>Logs collected by <a href="https://github.com/Emojigit/matterlog">Matterlog</a></li>
            <li>Powered by <a href="https://github.com/Emojigit/matterlog-server">Matterlog Server</a></li>
        </ul>
    </footer>
</body>
</html>
